<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" oncontextmenu="return false">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>ESBN | Login</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="dist/css/AdminLTE.css" />
<!-- iCheck -->
<link rel="stylesheet" href="plugins/iCheck/square/blue.css" />
<link href="style/captcha-custom.css" rel="stylesheet" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/registrationController.js"></script>
<link href="assets/datepicker-google-lapis/datepicker.css" rel="stylesheet" type="text/css" /> 
<script src="assets/datepicker-google-lapis/datepicker.js"></script>
<script src="assets/datepicker-google-lapis/datepicker-ui.js"></script> 
<script src="assets/datepicker-google-lapis/ajax-datepicker-google-lapis.js"></script> 
<link href="assets/datepicker-google-lapis/datepicker.css"
	rel="stylesheet" type="text/css" />

</head>
<body ng-app="registrationController" 
 ng-controller="testingaja"
class="hold-transition" >
<!-- style="background-color: #F59C00;" -->
<p/>
<p/>
Url : 
<input type="text" style="width: 300px;" ng-model="url"/>
<p/>
<p/>
body : <textarea rows="10" cols="100" ng-model="body"></textarea>
<p/>
<p/>
   <button ng-click="resultGet()">checkGet</button>
    <button ng-click="resultPost()">checkPost</button> 
    <p/>
    <p/>
result : <textarea rows="10" cols="100" ng-model="response"></textarea>

</body>
</html>