<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<link rel="stylesheet" href="style/loading-component.css" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/monitoringController.js"></script>
  
<title>Monitoring Early Redemption</title>
</head>
<body ng-app="monitoringController"
	ng-controller="monitoringEarlyRedemption">
	<section layout:fragment="header">
		<h1>Monitoring Early Redemption</h1>
	</section>

	<!-- 	<section layout:fragment="header"> -->
	<!-- 		<h1>Transaction</h1> -->
	<!-- 		<ol class="breadcrumb"> -->
	<!-- 			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li> -->
	<!-- 			<li class="active">Transaction</li> -->
	<!-- 		</ol> -->
	<!-- 	</section> -->
	<div layout:fragment="content">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="sid" class="col-sm-3 control-label text-left"
					style="text-align: left">SID</label>
				<div class="col-sm-5">

					<div class="inputcontainer">

						<input type="text" ng-model="esbnInfoUser.sid" disabled="disabled"
							class="form-control" id="sid" />
						<div class="icon-container" ng-if="esbnInfoUser.sid == undefined">
							<i class="loader"></i>
						</div>
					</div>


				</div>
			</div>

			<div class="form-group">
				<label for="memorandum" class="col-sm-3 control-label pull-left"
					style="text-align: left">Nama Produk*</label>
				
				
					
				<div class="col-sm-5" >
				
				<div class="inputcontainer" ng-if="listSeries==undefined">

						<input type="text" ng-model="esbnInfoUser.sid" disabled="disabled"
							class="form-control" id="sid" />
						<div class="icon-container" ng-if="esbnInfoUser.sid == undefined">
							<i class="loader"></i>
						</div>
					</div>	
					<select class="form-control" ng-if="listSeries!=undefined"
						ng-options="res.seri for res in listSeries"
						ng-change="searchMyDataEarly(pageNumberRedeem)"
						ng-model="esbnInfoUser.seriTerpilih" non-nulldrop="non-nulldrop">
						<option value="" disabled="disabled" selected="selected">--
							Silahkan Pilih --</option>
					</select>
				</div>
			</div>
			<!-- <div class="form-group">
				<div class="col-sm-2">
					<input type="hidden" ng-model="pageNumber" />
					<button type="submit" ng-click="searchMyDataEarly(pageNumber)"
						class="col-sm-5 btn btn-warning btn-block">
						<strong>Filter</strong>
					</button>
				</div>
			</div>
 -->
		</form>
		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow: scroll;">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th style="text-align: center;">Kode Pemesanan</th>
						<th style="text-align: center;">Kode Redeem</th>
						<th style="text-align: center;">Tanggal Redeem</th>
						<th style="text-align: center;">Tanggal Settlement</th>
						<th style="text-align: center;">Jumlah Redeem</th>
						<th style="text-align: center;">Sisa Kepemilikan</th>
						<th style="text-align: center;">Sisa yang bisa di Redeem</th>
						<th style="text-align: center;">Status Reedem</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in listDatas">
						<td style="text-align: left;">{{list.kodePemesanan}}</td>
						<td style="text-align: left;">{{list.kodeRedeem}}</td>
						<td style="text-align: left;">{{list.tglRedeem |
							date:'dd/MM/yyyy'}}</td>
						<td style="text-align: left;">{{list.tglSetelmen |
							date:'dd/MM/yyyy'}}</td>
						<td style="text-align: right;">{{list.nominal | number}}</td>
						<td style="text-align: right;">{{list.sisaKepemilikan |
							number}}</td>
						<td style="text-align: right;">{{list.redeemable | number}}</td>
						<td style="text-align: left;">{{list.status}}</td>
					</tr>
					<tr>
						<td colspan="8" style="text-align: center">
								<div class="inputcontainerCustom"
									ng-if="listDatas==undefined &amp;&amp; esbnInfoUser.seriTerpilih != undefined">

									<div class="icon-container">
										<i class="loader" style="height: 30px; width: 30px;"></i>
									</div>
								</div>
						</td>
					</tr>
					
					<tr>
						<td colspan="8">
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumberRedeem >= totalPage"
								ng-click="searchMyDataEarly(pageNumberRedeem+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumberRedeem}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumberRedeem == 1"
								ng-click="searchMyDataEarly(pageNumberRedeem-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
</body>
</html>