<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">



<head>
<link rel="stylesheet" href="style/loading-component.css" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/monitoringController.js"></script>

<title>Monitoring Transaction</title>
</head>
<body ng-app="monitoringController" ng-controller="monitoringPemesanan">
	<section layout:fragment="header">
		<h1>Monitoring Transaksi Pemesanan</h1>
	</section>
	<div layout:fragment="content">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="sid" class="col-sm-3 control-label text-left"
					style="text-align: left">SID</label>
				<div class="col-sm-5">

					<div class="inputcontainer">

						<input type="text" disabled="disabled" ng-model="esbnInfoUser.sid"
							class="form-control" id="sid" />
						<div class="icon-container" ng-if="esbnInfoUser.sid == undefined">
							<i class="loader"></i>
						</div>
					</div>

				</div>
			</div>

			<div class="form-group">
				<label for="memorandum" class="col-sm-3 control-label pull-left"
					style="text-align: left">Nama Produk*</label>
				<div class="col-sm-5">

					<div class="inputcontainer" ng-if="listSeries==undefined">

						<input type="text" disabled="disabled" ng-model="esbnInfoUser.sid"
							class="form-control" id="sid" />
						<div class="icon-container" ng-if="esbnInfoUser.sid == undefined">
							<i class="loader"></i>
						</div>
					</div>

					<select class="form-control" ng-if="listSeries!=undefined"
						ng-options="res.seri for res in listSeries"
						ng-change="searchMyData(pageNumber)" ng-model="esbnInfoUser.seriTerpilih"
						non-nulldrop="non-nulldrop">
						<option value="" disabled="disabled" selected="selected">--
							Silahkan Pilih --</option>
					</select>
				</div>
			</div>

			<!-- <div class="form-group">
				<label for="kuotapes" class="col-sm-3 control-label text-left"
					style="text-align: left">Sisa Kuota Pemesanan (Nasabah)</label>
				<div class="col-sm-5">
					<input type="text" disabled="disabled" class="form-control"
						format="number" ng-model="esbnInfoUser.sisaKuotaPemesanan"
						name="sisaKuotaPemesanan" id="kuotapes" />
				</div>
			</div>

			<div class="form-group">
				<label for="kuotaseri" class="col-sm-3 control-label text-left"
					style="text-align: left">Sisa Kuota Seri (Nasional)</label>
				<div class="col-sm-5">
					<input type="text" disabled="disabled" class="form-control"
						format="number" ng-model="esbnInfoUser.sisaKuotaSeri"
						id="kuotaseri" name="sisaKuotaSeri" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-2">
					<input type="hidden" ng-model="pageNumber" />
					<button type="submit" ng-click="searchMyData(pageNumber)"
						class="col-sm-5 btn btn-warning btn-block">
						<strong>Filter</strong>
					</button>
				</div>
			</div> -->
		</form>
		<div class="table-wrapper-scroll-y my-custom-scrollbar"
			style="overflow: scroll;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th style="text-align: center;">Kode Pemesanan</th>
						<th style="text-align: center;">Nominal Pemesanan</th>
						<th style="text-align: center;">Tanggal Pemesanan</th>
						<th style="text-align: center;">Tanggal Penerbitan</th>
						<th style="text-align: center;">Tanggal Jatuh Tempo</th>
						<th style="text-align: center;">Tingkat Kupon</th>
						<th style="text-align: center;">Tanggal Pembayaran Kupon</th>
						<th style="text-align: center;">Nomor Rekening Dana</th>
						<th style="text-align: center;">Kode Billing</th>
						<th style="text-align: center;">NTPN</th>
						<th style="text-align: center;">Status Pemesanan</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in listData">
						<td style="text-align: left;">{{list.kodePemesanan}}</td>
						<td style="text-align: right;">{{list.nominal | number}}</td>
						<td style="text-align: left;">{{list.tglPemesanan |
							date:'dd/MM/yyyy'}}</td>
						<td style="text-align: left;">{{list.tglSetelmen |
							date:'dd/MM/yyyy'}}</td>
						<td style="text-align: left;">{{list.tglJatuhTempo |
							date:'dd/MM/yyyy'}}</td>
						<td style="text-align: left;">{{list.tingkatKupon | number :
							2}}&nbsp;&#37;</td>
						<td style="text-align: left;">{{list.tglBayarKupon}}</td>
						<td style="text-align: left;">{{list.rekeningDana.noRek}}</td>
						<td style="text-align: left;">{{list.kodeBilling}}<br></br>{{list.batasWaktuBayar}}
						</td>
						<td style="text-align: left;">{{list.ntpn}}</td>
						<td style="text-align: left;">{{list.status}}</td>
					</tr>
					<tr>
						<td colspan="11" align="center">
								<div class="inputcontainerCustom"
									ng-if="listData==undefined &amp;&amp; esbnInfoUser.seriTerpilih != undefined">


									<div class="icon-container">
										<i class="loader" style="height: 30px; width: 30px;"></i>
									</div>
								</div>
						</td>
					</tr>
					<tr>
						<td colspan="11">
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber >= totalPage"
								ng-click="searchMyData(pageNumber+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{pageNumber}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="pageNumber == 1"
								ng-click="searchMyData(pageNumber-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>