<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/portofolioReport.js"></script>
<link rel="stylesheet" href="style/loading-component.css" />
<title>Portofolio Report</title>
</head>
<body ng-app="portofolioController" ng-controller="portofolio">
    <section layout:fragment="header">
		<h1>Portofolio Report</h1>
	</section>
	<div layout:fragment="content">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="sid" class="col-sm-3 control-label text-left"
					style="text-align: left">SID</label>
				<div class="col-sm-5">
				
					<div class="inputcontainer">

						<input type="text" disabled="disabled" ng-model="paging.sid"
						class="form-control" id="sid" />
						<div class="icon-container" ng-if="paging.sid == undefined">
							<i class="loader"></i>
						</div>
					</div>
					
				</div>
			</div>

			<div class="form-group"  >
				<label for="memorandum" class="col-sm-3 control-label pull-left"
					style="text-align: left">Nama Produk*</label>
				<div class="col-sm-5">
				<div class="inputcontainer" ng-if="paging.namaProduks == undefined">

						<input type="text" disabled="disabled"
						class="form-control" id="sid" />
						<div class="icon-container">
							<i class="loader"></i>
						</div>
					</div>
				
					<select class="form-control" ng-if="paging.namaProduks != undefined"
					    ng-change="callFilter(1)"
						ng-options="res for res in paging.namaProduks"
						ng-model="paging.produkTerpilih">
							<option value="" disabled="disabled" selected="selected">--
							Silahkan Pilih --</option>
					</select>
				</div>
			</div>


			<div class="form-group" ng-if = "false">
				<label for="memorandum" class="col-sm-3 control-label pull-left"
					style="text-align: left">Tipe Transaksi</label>
				<div class="col-sm-5">
					<select class="form-control"
						ng-change="callFilter(1)"
						ng-model="paging.kolomTypeTerpilih" >
						<option value="All">All</option>
						<option value="Transaksi Pemesanan" >Transaksi Pemesanan</option>
						<option value="Transaksi Early Redemption" >Transaksi Early Redemption</option>
									
					</select>
				</div>
			</div>
			
<!-- 			<div class="form-group"> -->
<!-- 				<div class="col-sm-2"> -->
<!-- 					<input type="hidden" ng-model="pageNumber" /> -->
<!-- 					<button type="submit" ng-click="searchMyData(pageNumber)" -->
<!-- 						class="col-sm-5 btn btn-warning btn-block"> -->
<!-- 						<strong>Filter</strong> -->
<!-- 					</button> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</form>
		<div class="table-wrapper-scroll-y my-custom-scrollbar"  style="overflow: scroll;">
			<table id="mytable" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th style="text-align: center;">Nama Produk</th>
						<th style="text-align: center;">Nominal Pemesanan Awal</th>
						<th style="text-align: center;">Nominal Yang Sudah Di Redeem</th>
						<th style="text-align: center;">Sisa Kepemilikan</th>
						<th style="text-align: center;">Tanggal Jatuh Tempo</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="list in paging.dataTable">
						<td style="text-align: left;">{{list.namaProduk}}</td>
						<td style="text-align: right;">{{list.nominalPemesananAwal | number}}</td>
						<td style="text-align: right;">{{list.nominalYangSudahDiredeem | number}}</td>
						<td style="text-align: right;">{{list.sisaKepemilikanTerakhir | number}}</td>
						<td style="text-align: left;">{{list.tanggalJatuhTempo}}</td>
					</tr>
					<tr> 
						<td colspan="11">
							<button class="btn btn-secondary pull-right"
								ng-disabled="paging.pageNumber >= paging.totalPage "
								ng-click="paginationMe(paging.pageNumber+1)">
								Next&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
							</button>
							<button class="btn btn-secondary pull-right" disabled="disabled">{{paging.pageNumber}}</button>
							<button class="btn btn-secondary pull-right"
								ng-disabled="paging.pageNumber == 1"
								ng-click="paginationMe(paging.pageNumber-1)">
								<i class="glyphicon glyphicon-arrow-left">&nbsp;Previous</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>