<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Profile</title>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/registrationController.js"></script>

</head>
<body ng-app="registrationController" ng-controller="requestLogin">
	<div layout:fragment="content">
	                  <div ng:if="validChange">
							<div class="callout callout-danger">
								<p>{{reason}}</p>
							</div>
						</div>
	                  
		<form class="form-horizontal">
			<div class="form-group">
				<label for="sid" class="col-sm-3 control-label text-left"
					style="text-align: left"><b>Password Lama</b></label>
					<div class="col-sm-5">
				<input type="password" class="form-control"
					required="required" ng-model="myDataUbah.oldPass" />
					</div>
			</div>
			<div class="form-group">
			<label for="sid" class="col-sm-3 control-label text-left"
					style="text-align: left"><b>Password Baru </b></label>
				 <div class="col-sm-5">
				<input type="password" class="form-control"
					required="required" ng-model="myDataUbah.newPass" />
					</div>
			</div>
			<div class="form-group">
				<label for="sid" class="col-sm-3 control-label text-left"
					style="text-align: left"><b>Konfirmasi Password</b></label>
					<div class="col-sm-5">
				<input type="password"
					class="form-control" ng-model="myDataUbah.confirmPass" />
					</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2">
					<button type="submit" ng-click="saveUbahPassword()" class="col-sm-5 btn btn-warning btn-block">
						<strong>Ubah Password</strong>
					</button>
				</div>
			</div>
		</form>

	</div>
</body>
</html>