<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Registration ESBN</title>

<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/registrationEsbnController.js"></script>
  
</head>
<body ng-app="registrationEsbnController"
	ng-controller="requestRegistration">
	<!-- <section layout:fragment="header"> -->
	<!-- <h1>Transaction</h1> -->
	<!-- <ol class="breadcrumb"> -->
	<!-- <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li> -->
	<!-- <li class="active">Transaction</li> -->
	<!-- </ol> -->
	<!-- </section> -->

	<div layout:fragment="content">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item 1 active"><a class="nav-link 1 active"
				id="registrationEsbn-tab" data-toggle="tab" href="#registrationEsbn"
				role="tab" aria-controls="registrationEsbn" aria-selected="true"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9312;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Registrasi e-SBN
						&nbsp;</span></a></li>
			<li class="nav-item 2"><a class="nav-link 2"
				href="#addRekeningDana" id="addRekeningDana-tab" data-toggle="tab"
				role="tab" aria-controls="addRekeningDana" aria-selected="false"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9313;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Add Rekening
						Dana&nbsp;</span></a></li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<!-- registration -->
			<br></br>
			<div class="tab-pane 1 active" id="registrationEsbn" role="tabpanel"
				aria-labelledby="registrationEsbn-tab">
				<div class="container">
					<div class="row">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label text-left"
									style="text-align: left">SID</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="registasiInfo.sid"
										th:attr="ng-init='registasiInfo.sid=\''+${beanRegistry.sid}+'\''"
										th:value="${beanRegistry.sid}" class="form-control" id="sid" />
								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Investor</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="registasiInfo.nama"
										th:attr="ng-init='registasiInfo.nama=\''+${beanRegistry.namaNasabah}+'\''"
										th:value="${beanRegistry.namaNasabah}" name="namaNasabah"
										class="form-control" id="namaNasabah" />
								</div>
							</div>
							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label text-left"
									style="text-align: left">Nomor KTP</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="registasiInfo.noIdentitas"
										th:attr="ng-init='registasiInfo.noIdentitas=\''+${beanRegistry.noKtp}+'\''"
										th:value="${beanRegistry.noKtp}" class="form-control" id="sid" />
								</div>
							</div>
							<div class="form-group">
								<label for="maxPes" class="col-sm-3 control-label pull-left"
									style="text-align: left">Tempat Lahir</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="registasiInfo.tempatLahir"
										th:attr="ng-init='registasiInfo.tempatLahir=\''+${beanRegistry.tempatLahir}+'\''"
										th:value="${beanRegistry.tempatLahir}" class="form-control"
										id="maxPes" />
								</div>
							</div>
							<div class="form-group">
								<label for="maxPes" class="col-sm-3 control-label pull-left"
									style="text-align: left">Tanggal Lahir</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="registasiInfo.tglLahir"
										th:attr="ng-init='registasiInfo.tglLahir=\''+${beanRegistry.tanggalLahir}+'\''"
										th:value="${beanRegistry.tanggalLahir}" class="form-control"
										id="maxPes" />

								</div>
							</div>
							<div class="form-group">
								<label for="kelipatanPes"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Jenis Kelamin</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										th:value="${beanRegistry.jenisKelamin}" class="form-control"
										id="kelipatanPes" /> <input type="hidden" disabled="disabled"
										ng-model="registasiInfo.kdJenisKelamin"
										th:attr="ng-init='registasiInfo.kdJenisKelamin=\''+${beanRegistry.kodeJenisKelamin}+'\''"
										th:value="${beanRegistry.kodeJenisKelamin}"
										class="form-control" id="kelipatanPes" />
								</div>
							</div>
							<div class="form-group">
								<label for="subRegNo" class="col-sm-3 control-label pull-left"
									style="text-align: left">Jenis Pekerjaan</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										th:value="${beanRegistry.jenisPekerjaan}" class="form-control"
										id="subRegNo" /> <input type="hidden" disabled="disabled"
										ng-model="registasiInfo.kdPekerjaan"
										th:attr="ng-init='registasiInfo.kdPekerjaan=\''+${beanRegistry.kodePekerjaan}+'\''"
										th:value="${beanRegistry.kodePekerjaan}" class="form-control"
										id="subRegNo" />
								</div>
							</div>

							<div class="form-group">
								<label for="nominal" class="col-sm-3 control-label pull-left"
									style="text-align: left">Alamat</label>
								<div class="col-sm-5">
									<textarea disabled="disabled" ng-model="registasiInfo.alamat"
										th:attr="ng-init='registasiInfo.alamat=\''+${beanRegistry.alamat}+'\''"
										th:value="${beanRegistry.alamat}" class="form-control"
										id="nominal"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="sisaKuota" class="col-sm-3 control-label pull-left"
									style="text-align: left">Kabupaten/kota</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										th:value="${beanRegistry.kota}" class="form-control"
										id="sisaKuota" /> <input type="hidden" disabled="disabled"
										ng-model="registasiInfo.kdKota"
										th:attr="ng-init='registasiInfo.kdKota=\''+${beanRegistry.kodeKota}+'\''"
										th:value="${beanRegistry.kodeKota}" class="form-control"
										id="sisaKuota" />
								</div>
							</div>
							<div class="form-group">
								<label for="sisaKuota" class="col-sm-3 control-label pull-left"
									style="text-align: left">Propinsi</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										th:value="${beanRegistry.provinsi}" class="form-control"
										id="sisaKuota" />
								</div>

							</div>
							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">No. Handphone</label>
								<div class="col-sm-5">
									<input type="text" autocomplete="off"
										th:value="${beanRegistry.noHandphone}"
										ng-model="registasiInfo.noHp"
										th:attr="ng-init='registasiInfo.noHp=\''+${beanRegistry.noHandphone}+'\''"
										class="form-control" id="sisaKuotaSeri" /> <input
										type="hidden" autocomplete="off"
										th:value="${beanRegistry.noHandphone}"
										ng-model="registasiInfo.oldPhone"
										th:attr="ng-init='registasiInfo.oldPhone=\''+${beanRegistry.noHandphone}+'\''"
										class="form-control" id="sisaKuotaSeri" />
								</div>
							</div>
							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">No. Telepon Rumah</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="registasiInfo.noTelp"
										th:attr="ng-init='registasiInfo.noTelp=\''+${beanRegistry.noTelepon}+'\''"
										th:value="${beanRegistry.noTelepon}" class="form-control"
										id="sisaKuotaSeri" />
								</div>

							</div>
							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Email</label>
								<div class="col-sm-5">
									<input type="email" autocomplete="off"
										ng-model="registasiInfo.email"
										th:attr="ng-init='registasiInfo.email=\''+${beanRegistry.email}+'\''"
										th:value="${beanRegistry.email}" class="form-control"
										id="sisaKuotaSeri" /> <input type="hidden" autocomplete="off"
										ng-model="registasiInfo.oldEmail"
										th:attr="ng-init='registasiInfo.oldEmail=\''+${beanRegistry.email}+'\''"
										th:value="${beanRegistry.email}" class="form-control"
										id="sisaKuotaSeri" />
								</div>
							</div>
							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Subregistry</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" class="form-control"
										id="sisaKuotaSeri" th:value="${beanRegistry.namaSubregistry}" />

								</div>
							</div>
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">No Rek. Surat Berharga</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" class="form-control"
										id="memorandum" th:value="${beanRegistry.noRekSuratBerharga}"
										ng-model="registasiInfo.noRekSurat"
										th:attr="ng-init='registasiInfo.noRekSurat=\''+${beanRegistry.noRekSuratBerharga}+'\''" />

									<input type="hidden" disabled="disabled" class="form-control"
										ng-model="registasiInfo.idSubregistry"
										th:attr="ng-init='registasiInfo.idSubregistry=\''+${beanRegistry.idSubregistry}+'\''"
										id="memorandum" th:value="${beanRegistry.idSubregistry}" /> <input
										type="hidden" disabled="disabled" class="form-control"
										ng-model="registasiInfo.idPartisipan"
										th:attr="ng-init='registasiInfo.idPartisipan=\''+${beanRegistry.idPartisipan}+'\''"
										id="memorandum" th:value="${beanRegistry.idPartisipan}" />
								</div>
							</div>
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">No Rekening Dana</label>
								<div class="col-sm-5">
									<select class="form-control"
										ng-options="res.noRekening for res in listSeriesRekDana"
										ng-change="selectedSeri()"
										ng-model="registasiInfo.noRekTerpilih"
										non-nulldrop="non-nulldrop">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">Kode Verifikasi</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="memorandum"
										ng-model="registasiInfo.myOtp" />
								</div>
								<div class="col-sm-2">
								<button class="col-sm-1 btn btn-success btn-block"
									ng-click="callOtpInvestor()" ng-disabled="enableBtnRegEsbn" esbnType="esbnReg">
									<span style="color: white"><b>Minta Kode OTP {{timerOtpRegEsbn}}</b></span>
								</button> 
								</div>
							</div>
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">Syarat &amp; Ketentuan</label>
								<div class="col-sm-5">
									<b class="text-center" style="font-size: 18px;"><input
										type="checkbox" style="width: 25px; height: 25px;"
										required="required" ng-model="checkingRegistration" /> Saya
										menyatakan telah:</b>
									<p />
									<b>
										<p />1. Mengisi data dengan benar dan lengkap.
										<p />2. Mengerti dan menyetujui ketentuan dan persyaratan
										penggunaan sistem layanan transaksi SBN Ritel secara
										elektronik.
									</b><p/><p/>
									<div class="form-control"
										style="background: white; height: 250px; overflow-y: scroll;">
										<p ng-bind-html="disclaimer1"></p>

										<p />
										1. Layanan transaksi SBN Ritel secara elektronik adalah
										fasilitas pemesanan SBN Ritel dengan mediaelektronik dan
										melalui jaringan internet yang dapat dilakukan sendiri oleh
										investor dan terintegrasi dengan sistem SBN Ritel pada
										Kementerian Keuangan.
										<p />
										2. Pengguna mengerti dan menyetujui isi syarat dan ketentuan
										layanan transaksi SBN Ritel secara elektronik.
										<p />
										3. Pengguna setuju untuk mematuhi peraturan terkait SBN Ritel
										yang diterbitkan Kementerian Keuangan beserta seluruh
										peraturan terkait yang berlaku.
										<p />
										4. Pengguna telah memahami dan setuju untuk mematuhi seluruh
										ketentuan dalam proses registrasi SBN Ritel secara elektronik
										serta melengkapi semua data yang dibutuhkan secara benar dan
										lengkap.
										<p />
										5. Pengguna wajib melakukan registrasi dengan menyiapkan data
										yang sekurang-kurangnya terdiri dari Surat Elektronik
										(e-mail), Single Investor Identification (SID), Rekening Dana,
										dan Rekening Surat Berharga (Efek) untuk dapat menggunakan
										layanan transaksi SBN Ritel secara elektronik.
										<p />
										6. Data registrasi yang disampaikan oleh Pengguna melalui
										sistem SBN Ritel ini akan menjadi milik Pemerintah dan dapat
										digunakan Pemerintah dengan mengacu pada ketentuan kerahasiaan
										data dan peraturan lain yang berlaku.
										<p />
										7. Pengguna bertanggung jawab secara pribadi untuk menjaga
										keamanan dan kerahasiaan akun, katasandi, dan/atau standar
										keamanan lainnya untuk semua aktivitas dalam penggunaan
										transaksi SBN Ritel secara elektronik.
										<p />
										8. Pengguna membebaskan Pemerintah dari segala tuntutan
										menyangkut penyalahgunaan akun, kata sandi, dan/atau standar
										keamanan lainnya.
										<p />
										9. Dalam hal terdapat kendala dalam penggunaan transaksi SBN
										Ritel secara elektronik, Pengguna wajib segera menghubungi
										mitra distribusi.
										<p />
										10. Pengguna bertanggungjawab atas segala biaya, klaim,
										kerusakan, kerugian (termasuk namun tidak terbatas pada
										kerugian yang timbul dari Transaksi) atau kewajiban lainnya
										karena ketidakmampuan dan ketidakpahaman Investor dalam
										menggunakan layanan transaksi SBN Ritel secara elektronik.
										<p />
										11. Pengguna membebaskan Pemerintah dan/atau Mitra Distribusi
										dari segala kerugian yang timbul atas terjadinya kerusakan
										sistem layanan transaksi SBN Ritel secara elektronik dan/atau
										keadaan darurat yang berada di luar kendali Pemerintah
										dan/atau Mitra Distribusi yang mengakibatkan sistem layanan
										transaksi SBN Ritel secara elektronik tidak dapat bekerja
										secara normal. Kejadian atau keadaan darurat (force majeure)
										tersebut mencakup namun tidak terbatas pada hal-hal sebagai
										berikut:
										<p />
										a. bencana alam;
										<p />
										b. perang yang timbul dari atau sebagai akibat perang;
										<p />
										c. tindakan sabotase oleh teroris;
										<p />
										d. Pemberontakan;
										<p />
										e. gempa bumi;
										<p />
										f. badai letusan gunung berapi;
										<p />
										g. banjir, badai, kondisi cuaca luar biasa buruk, yang
										dinyatakan resmi oleh Pemerintah Republik Indonesia; perubahan
										situasi kondisi politik dan ekonomi maupun kebijakan
										pemerintah yang luar biasa yang berakibat tidak kondusif untuk
										melakukan transaksi SBN Ritel; dan/atau
										<p />
										h. perubahan atas peraturan perundang-undangan yang
										berpengaruh langsung atas transaksi SBN Ritel.
										<p />

									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5">
									<button type="button" ng-click="backDashboard()"
										class="col-sm-5 btn btn-secondary btn-block">
										<strong>Batal</strong>
									</button>
								</div>
								<div class="col-sm-5">
									<button type="submit"
										ng-click="saveMyRegistration(registasiInfo)"
										class="col-sm-5 btn btn-warning btn-block">
										<strong>Lanjut</strong>
									</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- registration -->
			<!--addRekeningData  -->
			<div class="tab-pane 2 fade" id="addRekeningDana" role="tabpanel"
				aria-labelledby="addRekeningDana-tab">
				<div class="container">
					<div class="row">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">SID</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" class="form-control"
										ng-model="addRekeningDanaInfo.sid"
										th:attr="ng-init='addRekeningDanaInfo.sid=\''+${beanRegistry.sid}+'\''"
										id="namaNasabah" th:value="${beanRegistry.sid}" />
								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Nasabah</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" class="form-control"
										ng-model="addRekeningDanaInfo.nama"
										th:attr="ng-init='addRekeningDanaInfo.nama=\''+${beanRegistry.namaNasabah}+'\''"
										id="namaNasabah" th:value="${beanRegistry.namaNasabah}" />
								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">No. KTP</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										th:value="${beanRegistry.noKtp}" class="form-control"
										id="namaNasabah" />

								</div>
							</div>
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">No Rekening Dana</label>

								<div class="col-sm-3">
									<table>
										<tr ng-repeat="res in sizeModelDetail track by $index">
											<td><select class="form-control"
												ng-options="res.noRekening for res in listSeriesUnexisting"
												ng-change="selectedSeri()" ng-model="res.noRekTerpilih">
													<option value="" disabled="disabled" selected="selected">--
														Silahkan Pilih --</option>
											</select></td>
<!-- 											<td>&nbsp;&nbsp; -->
<!-- 												<button ng-click="addModel()"> -->
<!-- 													<i class="glyphicon glyphicon-plus"></i> -->
<!-- 												</button> -->
<!-- 											</td> -->
										</tr>
									</table>
								</div>


							</div>
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">Kode Verifikasi</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="memorandum"
										ng-model="addRekeningDanaInfo.myOtp" />
								</div>
								<div class="col-sm-2">
								<button class="col-sm-1 btn btn-success btn-block"
									ng-click="callOtpRekDana()" ng-disabled="enableBtnAddRekDana">
									<span style="color: white"><b>Minta Kode OTP {{timerOtpAddRekDana}}</b></span>
								</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5">
									<button type="button" ng-click="backDashboard()"
										class="col-sm-5 btn btn-secondary btn-block">
										<strong>Batal</strong>
									</button>
								</div>
								<div class="col-sm-5">
									<button type="submit"
										ng-click="saveMyNewRekeningDana(addRekeningDanaInfo)"
										class="col-sm-5 btn btn-warning btn-block">
										<strong>Lanjut</strong>
									</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
			<!--addRekeningData  -->
		</div>
	</div>
</body>
</html>