<!-- Logo -->
<a href="#" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b style="color : black;">ESBN</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
    <img style="width: 100%; height: 65%;"
			th:src="@{/file/images/Bank_Mega_2013.svg}" alt="sunil" class="rounded" />
     </span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" >
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
         <img th:src="@{/dist/img/keperluanEsbn/toggle.png}" style="height: 40px; width: 40px;" />
    </a>
    <a href="#">
   
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" 
                class="dropdown-toggle" data-toggle="dropdown">
                    <img th:src="@{/dist/img/keperluanEsbn/user_avatar.png}" style="height: 45px; width: 45px;"/>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img th:src="@{/dist/img/keperluanEsbn/user_avatar.png}" 
                          class="img-circle" alt="User Image" />
                    
                        <p>
                        <b>
                            <div th:text="${kelengkapan_nasabah}"></div>
                        </b>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-right">
                            <a th:href="@{/ganti-password}" class="btn btn-default btn-flat">Ganti Password</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li class="user-header">
                <a th:href="@{/ganti-password}" title=""
				data-placement="bottom" data-toggle="tooltip" class="bottom">
				 <img th:src="@{/dist/img/keperluanEsbn/envelope.png}" style="height: 45px; width: 45px;" /> </a>
            </li>
            <li class="user-header">
				 <a th:href="@{/logout}" title="">
				<img th:src="@{/dist/img/keperluanEsbn/logout.png}" style="height: 45px; width: 45px;" /> </a>
            </li>
        </ul>
    </div>
</nav>