<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Transaksi Early Redemption</title>

<link rel="stylesheet" href="style/loading-component.css" />
<script src="assets/resources/angular/js/angular.min.js"></script>
<script src="assets/resources/angular/js/angular-sanitize.js"></script>
<script src="assets/resources/angular/js/ui-bootstrap-tpls-2.4.0.min.js"></script>
<script src="assets/cms/app/js/app.js"></script>
<script src="assets/cms/app/js/controller.js"></script>
<script src="assets/cms/app/js/app-input.js"></script>
<script src="assets/dom/TransactionController.js"></script>


</head>
<body ng-app="transactionController"
	ng-controller="transaksiEarlyRedemption">
	<input type="hidden" ng-model="contexPath"
		th:attr="ng-init='contexPath=\''+@{/}+'\''" />
	<section layout:fragment="header">
		<h1>Transaksi Early Redemption</h1>
		<ol class="breadcrumb">
			<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li class="active">Transaction</li>
		</ol>
	</section>
	<div layout:fragment="content">
		<!-- <ul class="list-inline" style="display: flex;">
			<li class="list-inline-item"><a href="/transaction"><span
					style="font-size: 100%; color: #2870ed;" class="text-bold">&#9312;&nbsp;</span><span
					style="font-size: 100%;" class="text-bold">Masukkan
						Pemesanan Transaksi&nbsp;</span></a></li><div data-include="/transaction/booking-transaction.html"></div>
			<li>|</li>
			<li><a href="/dashboard"><span
					style="font-size: 100%; color: #2870ed;" class="text-bold">&#9313;&nbsp;</span><span
					style="font-size: 100%;" class="text-bold">Konfirmasi
						Pemesanan&nbsp;</span></a></li>
			<li>|</li>
			<li><a href="/transaction/booking-transaction"><span
					style="font-size: 100%; color: #2870ed;">&#9314;&nbsp;</span><span
					style="font-size: 100%;" class="text-bold">Selesai&nbsp;</span></a></li>
		</ul> -->
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item 1 active"><a class="nav-link active"
				id="transaction-tab" data-toggle="tab" ng-disabled="true" role="tab"
				aria-controls="transaction" aria-selected="true"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9312;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Masukkan
						Transaksi Early Redemption&nbsp;</span></a></li>
			<li class="nav-item 2"><a class="nav-link" id="confirm-tab"
				data-toggle="tab" role="tab" aria-controls="confirm"
				aria-selected="false" ng-disabled="true"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9313;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Konfirmasi
						Transaksi Early Redemption&nbsp;</span></a></li>
			<li class="nav-item 3"><a class="nav-link" ng-disabled="true"
				id="finish-tab" data-toggle="tab" role="tab" aria-controls="finish"
				aria-selected="false"><span
					style="font-size: 120%; color: #2870ed;" class="text-bold">&#9314;&nbsp;</span><span
					style="font-size: 120%;" class="text-bold">Selesai&nbsp;</span></a></li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<!-- transaction -->
			<br></br>
			<div class="tab-pane 1 active" id="transaction" role="tabpanel"
				aria-labelledby="transaction-tab">
				<div class="container">
					<div class="row">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label text-left"
									style="text-align: left">SID</label>
								<div class="col-sm-5">
									<div class="inputcontainer">

										<input type="text" ng-model="infoUser.sid" disabled="disabled"
											class="form-control" id="sid" />
										<div class="icon-container" ng-if="infoUser.sid == undefined">
											<i class="loader"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Nasabah</label>
								<div class="col-sm-5">

									<div class="inputcontainer">
										<input type="text" ng-model="infoUser.nama"
											disabled="disabled" class="form-control" id="namaNasabah" />
										<div class="icon-container" ng-if="infoUser.nama== undefined">
											<i class="loader"></i>
										</div>
									</div>


								</div>
							</div>
							<div class="form-group">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Nama Produk *</label>
								<div class="col-sm-5">
								
								   <div class="inputcontainer" ng-if="listSeries==undefined">
										<input type="text" disabled="disabled" class="form-control" id="namaNasabah" />
										<div class="icon-container" ng-if="infoUser.nama== undefined">
											<i class="loader"></i>
										</div>
									</div>
									<select 
									 ng-if="listSeries!=undefined"
									ng-model="infoUser.seriTerpilih" class="form-control"
										ng-options="res.seri for res in listSeries"
										ng-change="selectedSeri()" non-nulldrop="non-nulldrop">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Kode Pemesanan</label>
								<div class="col-sm-5">
								
								
								   <div class="inputcontainer" ng-if="infoUser.seriTerpilih != undefined  &amp;&amp; 
								         infoUser.transaksis==undefined">
										<input type="text" disabled="disabled" class="form-control" id="namaNasabah" />
										<div class="icon-container" ng-if="infoUser.transaksis==undefined">
											<i class="loader"></i>
										</div>
									</div>
									<select  ng-if="infoUser.seriTerpilih == undefined  || 
								         infoUser.transaksis!=undefined"
								        ng-model="infoUser.transaksiTerpilih"
										class="form-control"
										ng-options=" res.transaksiNominal for res in infoUser.transaksis"
										ng-change="selectedPemesanan()">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="sisaKuota" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Kepemilikan</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" format="number"
										ng-model="infoUser.transaksiTerpilih.esbnPemesananTransaksi.sisaKepemilikan"
										class="form-control" id="sisaKuota" />
								</div>
							</div>

							<div class="form-group">
								<label for="minPes" class="col-sm-3 control-label text-left"
									style="text-align: left">Minimal Redeem</label>
								<div class="col-sm-5">
									<input ng-model="infoUser.seriTerpilih.minRedeem" type="text"
										disabled="disabled" name="minPemesanan" format="number"
										class="form-control" id="minPes" />
								</div>
							</div>
							<!-- 							<div class="form-group"> -->
							<!-- 								<label for="maxPes" class="col-sm-3 control-label pull-left" -->
							<!-- 									style="text-align: left">Maksimal Pencairan</label> -->
							<!-- 								<div class="col-sm-5"> -->
							<!-- 									<input type="text" -->
							<!-- 									    ng-model="infoUser.transaksiTerpilih.maximumPemesananRedeem" -->
							<!-- 									    disabled="disabled"  format="number" -->
							<!-- 										class="form-control" id="maxPes" /> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
							<div class="form-group">
								<label for="kelipatanPes"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Kelipatan Redeem</label>
								<div class="col-sm-5">
									<input type="text" name="kelipatan"
										ng-model="infoUser.seriTerpilih.kelipatanRedeem"
										disabled="disabled" format="number" class="form-control"
										id="kelipatanPes" />
								</div>
							</div>

							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Yang Bisa Di Redeem</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled" name="redeemable"
										format="number"
										ng-model="infoUser.transaksiTerpilih.redeemable"
										class="form-control" id="sisaKuotaSeri" />
								</div>
							</div>

							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Tanggal Settlement</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="infoUser.seriTerpilih.tglSetelmen"
										class="form-control" id="sisaKuotaSeri" />
								</div>
							</div>

							<div class="form-group">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Periode Redeem</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="infoUser.seriTerpilih.periodeRedemption"
										class="form-control" id="sisaKuotaSeri" />
								</div>
							</div>

							<div class="form-group">
								<label for="subRegNo" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sub Reg No.</label>
								<div class="col-sm-5">
								<div class="inputcontainer">
										<input type="text" disabled="disabled"
										ng-model="infoUser.subRegno" class="form-control"
										id="subRegNo" />
										<div class="icon-container" ng-if="infoUser.subRegno== undefined">
											<i class="loader"></i>
										</div>
									</div>
									
								</div>
							</div>

							<div class="form-group">
								<label for="noRekSurat" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Surat Berharga</label>
								<div class="col-sm-5">
									<input type="text" ng-model="infoUser.rekeningSBTerpilih.noRek"
										disabled="disabled" class="form-control" /> <select
										ng-model="infoUser.rekeningSBTerpilih" class="form-control"
										ng-if="false"
										ng-options="res.noRek for res in infoUser.rekeningSB"
										disabled="disabled">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<label for="noRekDana" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Dana *</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.rekeningDanaTerpilih.noRek"
										disabled="disabled" class="form-control" /> <select
										ng-model="infoUser.rekeningDanaTerpilih" class="form-control"
										ng-if="false"
										ng-options="res.noRek for res in infoUser.rekeningDana"
										disabled="disabled">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<label for="nominal" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nominal *</label>
								<div class="col-sm-5">
									<input type="text" format="number" ng-model="infoUser.nominal"
										class="form-control" id="nominal"
										nominal-validation-early="nominal-validation-early" />
									<!-- 									       nominal-validation = "nominal-validation" -->

									<input type="hidden" name="validationNominal" />
								</div>
							</div>

							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">Syarat &amp; Ketentuan</label>

								<div class="col-sm-5">
									<input type="checkbox" style="width: 1.55rem; height: 1.55rem"
										required="required" ng-model="checkingDesclaimer" /> <b>
										Saya menyatakan telah : </b>
									<div class="form-control"
										style="background: white; height: 100px; overflow-y: scroll;">
										<p ng-bind-html="disclaimer1"></p>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5">
									<button type="button"
										class="col-sm-5 btn btn-secondary btn-block">
										<strong>Kembali</strong>
									</button>
								</div>
								<div class="col-sm-5">
									<button type="button" ng-click="nextTabs(1,2)"
										class="col-sm-5 btn btn-warning btn-block">
										<strong>Lanjut</strong>
									</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- transaction -->
			<!--confirm  -->
			<div class="tab-pane 2 fade" id="confirm" role="tabpanel"
				aria-labelledby="confirm-tab">
				<div class="container">
					<div class="row">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label text-left"
									style="text-align: left">SID</label>
								<div class="col-sm-5">
									<input type="text" ng-model="infoUser.sid" disabled="disabled"
										class="form-control" id="sid" />
								</div>
							</div>
							<div class="form-group">
								<label for="namaNasabah"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Nasabah</label>
								<div class="col-sm-5">
									<input type="text" ng-model="infoUser.nama" disabled="disabled"
										class="form-control" id="namaNasabah" />
								</div>
							</div>
							<div class="form-group" ng-if="false">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Nama Produk</label>
								<div class="col-sm-4">
									<select ng-model="infoUser.seriTerpilih" class="form-control"
										ng-options="res.seri for res in listSeries"
										disabled="disabled" ng-change="selectedSeri()">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Nama Produk</label>
								<div class="col-sm-5">
									<input type="hidden" ng-model="infoUser.seriTerpilih"
										class="form-control" disabled="disabled" /> <input
										type="text" ng-model="infoUser.seriTerpilih.seri"
										class="form-control" disabled="disabled" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Kode Pemesanan</label>
								<div class="col-sm-5">
									<select ng-model="infoUser.transaksiTerpilih"
										class="form-control" disabled="disabled"
										ng-options="res.esbnPemesananTransaksi.kodePemesanan for res in infoUser.transaksis"
										ng-change="selectedPemesanan()">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="namaProduk" class="col-sm-3 control-label text-left"
									style="text-align: left">Kode Pemesanan</label>
								<div class="col-sm-5">
									<input type="hidden" ng-model="infoUser.transaksiTerpilih"
										class="form-control" disabled="disabled" /> <input
										type="text"
										ng-model="infoUser.transaksiTerpilih.esbnPemesananTransaksi.kodePemesanan"
										class="form-control" disabled="disabled" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="sisaKuota" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Kepemilikan</label>
								<div class="col-sm-5">
									<input type="text" format="number" disabled="disabled"
										ng-model="infoUser.transaksiTerpilih.esbnPemesananTransaksi.sisaKepemilikan"
										class="form-control" id="sisaKuota" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="minPes" class="col-sm-3 control-label text-left"
									style="text-align: left">Minimal Redeem</label>
								<div class="col-sm-5">
									<input ng-model="infoUser.seriTerpilih.minRedeem" type="text"
										disabled="disabled" format="number" class="form-control"
										id="minPes" />
								</div>
							</div>
							<div class="form-group" ng-if="false">
								<label for="maxPes" class="col-sm-3 control-label pull-left"
									style="text-align: left">Maksimal Redeem</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.transaksiTerpilih.maximumPemesananRedeem"
										disabled="disabled" format="number" class="form-control"
										id="maxPes" />
								</div>
							</div>
							<div class="form-group" ng-if="false">
								<label for="kelipatanPes"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Kelipatan Redeem</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.seriTerpilih.kelipatanRedeem"
										disabled="disabled" format="number" class="form-control" />
								</div>
							</div>


							<div class="form-group" ng-if="false">
								<label for="sisaKuotaSeri"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Yang Bisa Di Redeem</label>
								<div class="col-sm-5">
									<input type="text" format="number" disabled="disabled"
										ng-model="infoUser.transaksiTerpilih.redeemable"
										class="form-control" id="sisaKuotaSeri" />
								</div>
							</div>

							<div class="form-group">
								<label for="subRegNo" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sub Reg No.</label>
								<div class="col-sm-5">
									<input type="text" disabled="disabled"
										ng-model="infoUser.subRegno" class="form-control"
										id="subRegNo" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="noRekSurat" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Surat Berharga</label>
								<div class="col-sm-5">
									<input type="text" ng-model="infoUser.rekeningSBTerpilih.noRek"
										disabled="disabled" class="form-control" /> <select
										ng-model="infoUser.rekeningSBTerpilih" class="form-control"
										ng-if="false"
										ng-options="res.noRek for res in infoUser.rekeningSB"
										disabled="disabled">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="noRekSurat" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Surat Berharga</label>
								<div class="col-sm-5">
									<input type="hidden" ng-model="infoUser.rekeningSBTerpilih"
										disabled="disabled" class="form-control" /> <input
										type="text" ng-model="infoUser.rekeningSBTerpilih.noRek"
										disabled="disabled" class="form-control" />
								</div>
							</div>

							<div class="form-group" ng-if="false">
								<label for="noRekDana" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Dana</label>
								<div class="col-sm-5">
									<input type="text"
										ng-model="infoUser.rekeningDanaTerpilih.noRek"
										disabled="disabled" class="form-control" /> <select
										ng-model="infoUser.rekeningDanaTerpilih" class="form-control"
										ng-if="false"
										ng-options="res.noRek for res in infoUser.rekeningDana"
										disabled="disabled">
										<option value="" disabled="disabled" selected="selected">--
											Silahkan Pilih --</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="noRekDana" class="col-sm-3 control-label text-left"
									style="text-align: left">No. Rekening Dana</label>
								<div class="col-sm-5">
									<input type="hidden" ng-model="infoUser.rekeningDanaTerpilih"
										disabled="disabled" class="form-control" /> <input
										type="text" ng-model="infoUser.rekeningDanaTerpilih.noRek"
										disabled="disabled" class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<label for="nominal" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nominal</label>
								<div class="col-sm-5">
									<input type="text" format="number" ng-model="infoUser.nominal"
										disabled="disabled" class="form-control" id="nominal" />
								</div>
							</div>
							<!-- 							<div class="form-group"> -->
							<!-- 								<label for="memorandum" class="col-sm-3 control-label pull-left" -->
							<!-- 									style="text-align: left">S &amp; K</label> -->
							<!-- 								<div class="col-sm-5"> -->
							<!-- 									<input type="text" ng-model="infoUser.memorandum" disabled="disabled" -->
							<!-- 										class="form-control" id="memorandum" /> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
							<div class="form-group">
								<label for="memorandum" class="col-sm-3 control-label pull-left"
									style="text-align: left">Kode Verifikasi</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" id="memorandum"
										ng-model="infoUser.myOtp" />
								</div>
								<div class="col-sm-2">
									<button class="col-sm-1 btn btn-success btn-block"
										ng-disabled="enableButton"
										ng-click="callOtp('transaksiEarlyRedemption','')">Minta
										Kode OTP {{myTimer}}</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5">
									<button type="button" ng-click="beforeTabs(2,1)"
										class="col-sm-5 btn btn-secondary btn-block">
										<strong>Kembali</strong>
									</button>
								</div>
								<div class="col-sm-5">
									<button type="button"
										class="col-sm-5 btn btn-warning btn-block" data-toggle="modal"
										data-target="#verify">
										<strong>Lanjut</strong>
									</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal fade" id="verify" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body">Apakah data Anda sudah valid?</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="saveTransaction()" data-toggle="modal"
								data-target="#loading" data-dismiss="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Batal
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="loading" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">

						<div class="modal-body" ng-if="itsLoading.waitModal">
							<img src="file/images/m-loading.gif" alt="Los Angeles"
								style="width: 100%; height: 300px;" />
						</div>
						<div class="modal-body" ng-if="itsLoading.invalidModal">
							{{reason}}</div>
						<div class="modal-body" ng-if="itsLoading.validModal">
							Pencairan Early Redemption ESBN Berhasil.
							<ng-bind-html ng-bind-html="reason"></ng-bind-html>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								ng-click="okLoading()" ng-if="itsLoading.validModal"
								data-dismiss="modal" data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
							<button type="button" class="btn btn-secondary"
								ng-if="itsLoading.invalidModal" data-dismiss="modal"
								data-toggle="modal">
								<i class="fa fa-check"></i> Ok
							</button>
						</div>
					</div>
				</div>
			</div>

			<!--confirm  -->
			<!-- finish -->
			<div class="tab-pane 3 fade" id="finish" role="tabpanel"
				aria-labelledby="finish-tab">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<h4>
								<span class="text-bold">Detail Transaksi</span>
							</h4>
						</div>
						<br></br>
						<hr style="border-color: #b9b9b9; display: block;"></hr>
						<form class="form-horizontal">
							<div class="form-group">
								<label for="kodebilling"
									class="col-sm-3 control-label pull-left"
									style="text-align: left">Kode Early Redemption</label>
								<div class="col-sm-5">
									<span id="kodebilling">: {{resultSave.KodeRedeem}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="sid" class="col-sm-3 control-label pull-left"
									style="text-align: left">SID</label>
								<div class="col-sm-5">
									<span id="sid">: {{resultSave.Sid}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Nasabah</label>
								<div class="col-sm-5">
									<span id="nameNas">: {{resultSave.NamaInvestor}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="namePro" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nama Produk</label>
								<div class="col-sm-5">
									<span id="namePro">: {{resultSave.Seri}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="noPes" class="col-sm-3 control-label pull-left"
									style="text-align: left">No. Rekening Dana</label>
								<div class="col-sm-5">
									<span id="noPes">:
										{{infoUser.rekeningDanaTerpilih.noRek}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nom" class="col-sm-3 control-label pull-left"
									style="text-align: left">No. Rekening Surat Berharga</label>
								<div class="col-sm-5">
									<span id="nom">: {{infoUser.rekeningSBTerpilih.noRek}}</span>
								</div>
							</div>

							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sub Reg No.</label>
								<div class="col-sm-5">
									<span id="nameNas">: {{infoUser.subRegno}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Nominal Redeem</label>
								<div class="col-sm-5">
									<span id="nameNas">: IDR {{infoUser.nominal | number :
										2}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Tanggal Settlement</label>
								<div class="col-sm-5">
									<span id="nameNas">:
										{{infoUser.seriTerpilih.tglSetelmen}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Yang Bisa Diredeem</label>
								<div class="col-sm-5">
									<span id="nameNas" class="text-bold">: IDR
										{{resultSave.Redeemable}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-3 control-label pull-left"
									style="text-align: left">Sisa Kepemilikan</label>
								<div class="col-sm-5">
									<span id="nameNas">: IDR {{resultSave.SisaKepemilikan}}</span>
								</div>
							</div>
							<div class="form-group">
								<label for="nameNas" class="col-sm-12 control-label pull-left"
									style="text-align: left"><p ng-bind-html="reason"></p></label>
							</div>
						</form>
					</div>


				</div>

			</div>
			<!-- finish -->
		</div>
	</div>
</body>
</html>