<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" oncontextmenu="return false">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">ESBN</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />

<!-- href="/dsds/bootstrap/css/bootstrap.min.css" /> -->
<link rel="stylesheet" th:href="@{/dist/css/AdminLTE.css}" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.css}" />
<!-- iCheck -->
<link rel="stylesheet" th:href="@{/plugins/iCheck/flat/blue.css}" />
<!-- Morris chart -->
<link rel="stylesheet" th:href="@{/plugins/morris/morris.css}" />
<!-- jvectormap -->
<link rel="stylesheet"
	th:href="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.css}" />
<!-- Date Picker -->
<link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}" />
<!-- Daterange picker -->
<link rel="stylesheet"
	th:href="@{/plugins/daterangepicker/daterangepicker-bs3.css}" />
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet"
	th:href="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
		<div th:replace="fragments/header"></div>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
		<div th:replace="fragments/mainsidebar"></div>
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header" layout:fragment="header"></section>

			<!-- Main content -->
			<section class="content">
			<div th:if="${successFlash != null}"
				class="alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				<p th:text="${successFlash}"></p>
			</div>

			<div th:if="${errorFlash != null}"
				class="alert alert-danger alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				<p th:text="${errorFlash}"></p>
			</div>

			<div th:if="${infoFlash != null}"
				class="alert alert-info alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">×</button>
				<p th:text="${infoFlash}"></p>
			</div>

			<div layout:fragment="content"></div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<!-- 		<div id="foot"> -->
		<!-- 			<footer class="main-footer"> <strong>Copyright -->
		<!-- 				&copy; 2019 Spring Boot - AdminLte2.</strong> </footer> -->
		<!-- 		</div> -->
		<div style="display: none;" id="footerDashoard">
			<footer style="background-color: #dcdcdc;font-family:  Calibri;"
				class="main-footer"> <!-- <strong>Copyright &copy; 2019 Spring Boot - AdminLte2.</strong> -->
			<div class="row">
				<div class="col-xs-3 col-md-1 text-center">
					<img style="width: 55px; height: 55px;"
						th:src="@{/file/images/warning.svg}" alt="sunil" class="rounded" />
				</div>
				<div class="col-xs-12 col-md-10 text-bold">
					<p>1. Silakan melakukan registrasi e-SBN pada menu Registrasi
						(mohon abaikan, jika Anda telah melakukan registrasi sebelumnya).</p>
					<p>2. Jika Anda telah melakukan registrasi, Anda dapat
						melakukan Pemesanan atau Early Redemption pada Menu Transaksi.</p>
					<p>3. Anda dapat melakukan perubahan data pada menu Registrasi.</p>
				</div>
			</div>
			</footer>
		</div>
	</div>
	<!-- ./wrapper -->
	<script type="text/javascript">
		if (window.location.pathname === "/") {
			// some code to load
			console.log("window.location.pathname ", window.location.pathname);
			document.getElementById('footerDashoard').style.display = 'block';
			document.getElementById('foot').style.display = 'none';
		}
	</script>
	<!-- jQuery 2.2.0 -->
	<script th:src="@{/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
	<!-- jQuery UI 1.11.4 -->
	<!-- 	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

	<script th:src="@{/plugins/morris/morris.min.js}"></script>
	<script th:src="@{/plugins/sparkline/jquery.sparkline.min.js}"></script>
	<script th:src="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
	<script
		th:src="@{/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<script th:src="@{/plugins/knob/jquery.knob.js}"></script>

	<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
	<script th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
	<script th:src="@{/plugins/validator.min.js}"></script>
	<script
		th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
	<script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
	<script th:src="@{/dist/js/app.min.js}"></script>
	<script th:src="@{/dist/js/pages/dashboard.js}"></script>
	<script th:src="@{/dist/js/demo.js}"></script>
</body>
</html>