body {
  background: #e9e9e9;
}
.ac .ac-main-content-area {
  background: #e9e9e9;
  padding: 16px 16px 48px 16px;
}
.ac .filebar,
.ac .iconbar {
  background: #f4f4f4;
}
.ac .filebar-inner,
.ac .iconbar-inner {
  padding: 0px 16px;
}
.ac .filebar-inner {
  padding: 0px 32px;
}
.ac .dashboard-chart-drop {
  width: 400px;
  height: 400px;
}
.ac .dashboard-chart-drop.selected {
  background: #f8f8f8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 3px dashed #aaa;
}
.ac .icon-bar-icon-item {
  position: relative;
}
.ac ul.dashboard-items-submenu-dropdown {
  width: 365px;
  background: #f4f4f4;
  border: 1px solid #c0c0c0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 8px;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.ac ul.dashboard-items-submenu-dropdown .dashboard-items-popup-title {
  text-transform: capitalize;
  font-family: 'Source Sans Pro';
  font-size: 10px;
}
.ac ul.dashboard-items-submenu-dropdown li {
  position: relative;
  float: left;
  width: 75px;
  height: 68px;
  overflow: hidden;
  margin: 8px;
  text-align: center;
}
.ac ul.dashboard-items-submenu-dropdown li:hover {
  background: #ddd;
  cursor: pointer;
}
.ac ul.dashboard-items-submenu-dropdown li > i {
  font-size: 28px;
  margin-top: 14px;
}
.ac .ac-360-edit-toggle {
  z-index: 20;
  position: relative;
  float: right;
  color: #888;
  padding: 6px 16px 4px 16px;
  text-decoration: none;
  font-size: 16px;
}
.ac .ac-360-edit-toggle:hover {
  text-decoration: underline;
  cursor: pointer;
}
